@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.btn-primary:hover{
   /* background-color: #563d7c;*/
   background-color: #FF7300;
   border: 1px solid #563d7c;
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
    color: #FF7300;
    background-color: #FF7300;

}
.padding{
    padding-bottom: 2rem;
    color: black;
    
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    color: #FF7300;
    background-color: #FF7300;

}
.welcome hr{
    border-top: 2px solid #FF7300;
    border-block-end-color: #FF7300;
    background-color: #FF7300;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
    color: #FF7300;
}
.btn-primary{
    background-color: #FF7300;
    border: 1px solid #FF7300;
}
.btn-primary:hover{
   /* background-color: #563d7c;*/
   background-color: #FF7300;
   border: 1px solid #563d7c;
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
    color: #FF7300;
    background-color: #FF7300;

}
.padding{
    padding-bottom: 2rem;
    color: #d5d5de;
    
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    color: #FF7300;
    background-color: #FF7300;

}
.welcome hr{
    border-top: 2px solid #FF7300;
    border-block-end-color: #FF7300;
    background-color: #FF7300;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
    color: #FF7300;
}
.fa-code{
    color: #e54de5;
}
.fa-bold{
    color: #563d7c;
}
.fa-css3{
    color: #2163af;
}
.fa-code, .fa-bold, .fa-css3{
    font-size: 4em;
    margin: 1rem;
}
.fun{
    width: 100%;
    margin-bottom: 2rem;
    color: brown;
    background-color: #FF7300;
}
.gif{
    max-width: 100%;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook{
    color: #fff;

}
.fa-twitter{
    color: #fff;
}
.fa-google-plus-g{
    color: #fff;
}
.fa-instagram{
    color: #fff;
}
.fa-youtube{
    color: #fff;
}
.fa-facebook:hover, 
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover, 
.fa-youtube:hover{
    color: #FF7300;
}
footer{
    background-color:#FF7300;
    color: #d5d5de;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a{
    color: #d5d5d5;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}





/*---Media Queries --*/
@media (max-width: 992px) {
    .social a{
        font-size: 4em;
        padding: 2rem;
    }

  }
@media (max-width: 768px) {
    .carousel-caption{
       
        top: 45%;
    
    }
    .carousel-caption h1{
        font-size: 350%
    
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4{
        font-size: 200%
    }
    .social a{
        font-size: 2.5em;
        padding: 1.2rem;
    }
}
@media (max-width: 576px) {
    .carousel-caption{
       
        top: 40%;
    
    }
    .carousel-caption h1{
        font-size: 250%
    
    }
    .carousel-caption h3{
        font-size: 110%;
        
    }
    .carousel-caption .btn{
        font-size: 90%;
        padding: 4px 8px;
    }
  .carousel-indicators{
      display: none;
  }
  .display-4{
    font-size: 160%
}
.social a{
    font-size: 2em;
    padding: .7rem;
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .countdown div {
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #000;
    opacity: 0.7;
    margin: 5px;
  }
  
  .countdown div:first-child {
    background: #17a2b8;
  }
  
  .countdown span {
    display: block;
    font-size: 25px;
  }
  
  @media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
    .countdown {
      font-size: 10px;
      flex-direction: row;
    }
  
    .countdown div {
      display: none;
    }
  
    .countdown div:first-child {
      display: block;
      width: 20%;
      padding: 10px;
    }
  }
  
  





